#eachPost, #innerPost, #edit, #like {
    border-radius: 30px;
}

#eachPost, #innerPost {
    border: 3px solid black;
    padding: 10px;
}

#header {
    text-align: center;
    font-size: 300%;
}

#eachPost {
    background-color: #4469B0;
    display: inline-block;
    width: 47%;
    margin: 1.25%
}

#innerPost {
    background-color: #FFFFFF;
}

#userFeed {
    text-align: center;
}

#postedAt {
    float: right;
    font-size: 10px;
    text-decoration: underline;
}

#likes_space {
    margin-left: 20px;
    display: inline-block;
}


#message {
    border: 3px solid rgba(72, 108, 181, .5);
    padding: 8px;
    border-radius: 25px;
}
