#friendWrapper {
    margin-top: 0px;
    float: right;
    height: 100vh;
    max-width: 15ch;
    background-color: #466BAE;
}

#friendName, #friendStatus, #friendHeader {
    text-align: center;
    text-decoration: underline;
}

#friendName {
    margin: 0px;
    text-decoration: bold;
}

#friendStatus {
}
